<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Samsung Ant Man</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="shortcut icon" sizes="96x96" href="{% static 'img/favicon.png' %}">
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <style>
        #particles-js{
            background-color: #4e73df;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
        }
    </style>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <div id="particles-js" style="margin-bottom: 20px;height: 300px;" class="shadow">
            </div>
            <div style="
            position: relative;
            top: -240px;
            max-width: 400px;
            width: 70%;
            margin: auto;
            text-align: center;
            " >
                <img src="{% static 'img/ant.png' %}" style="width: 70px;height: 70px">
                <img src="{% static 'img/ant.png' %}" style="width: 70px;height: 70px">
                <img src="{% static 'img/ant.png' %}" style="width: 70px;height: 70px">
                <h1 class="text-white font-weight-bolder">
                    SAMSUNG Ant Man
                </h1>
                <div class="input-group">
                    <input maxlength="100" id="headerInput" type="text" class="form-control bg-light border-0 small" placeholder="Search keyword!" aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button id="headerInputBtn" class="btn btn-info" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Begin Page Content -->
            <div class="container" style="margin-top: -140px;">
                <div class="row">
                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-md-4 mb-4 col-sm-6">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Close Price</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ latest_stock.end_price | intcomma }} ₩</div>
                                    </div>
                                    {#                                    <div class="col-auto">#}
                                    {#                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>#}
                                    {#                                    </div>#}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-md-4 mb-4 col-sm-6">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">24H change</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ latest_stock.diff_yesterday | intcomma }} ₩</div>
                                    </div>
                                    {#                                    <div class="col-auto">#}
                                    {#                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>#}
                                    {#                                    </div>#}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-md-4 mb-4 col-sm-6">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Last Price</div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ latest_stock.current_price | intcomma }} ₩</div>
                                            </div>
                                        </div>
                                    </div>
                                    {#                                    <div class="col-auto">#}
                                    {#                                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>#}
                                    {#                                    </div>#}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Pending Requests Card Example -->
                    <div class="col-md-4 mb-4 col-sm-6">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Daily High</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ latest_stock.high_price | intcomma }} ₩</div>
                                    </div>
                                    {#                                    <div class="col-auto">#}
                                    {#                                        <i class="fas fa-comments fa-2x text-gray-300"></i>#}
                                    {#                                    </div>#}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Pending Requests Card Example -->
                    <div class="col-md-4 mb-4 col-sm-6">
                        <div class="card border-left-danger shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Daily Low</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ latest_stock.row_price | intcomma }} ₩</div>
                                    </div>
                                    {#                                    <div class="col-auto">#}
                                    {#                                        <i class="fas fa-comments fa-2x text-gray-300"></i>#}
                                    {#                                    </div>#}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Pending Requests Card Example -->
                    <div class="col-md-4 mb-4 col-sm-6">
                        <div class="card border-left-secondary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Trading Volume</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ latest_stock.volume | intcomma }} ₩</div>
                                    </div>
                                    {#                                    <div class="col-auto">#}
                                    {#                                        <i class="fas fa-comments fa-2x text-gray-300"></i>#}
                                    {#                                    </div>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Area Chart -->
                    <div class="col-xl-12 col-lg-12">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Stocks</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area">
                                    <canvas id="myAreaChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Positive News</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body" style="min-height: 296px">
                                <ul>
                                    <li><a href="https://www.zdnet.com/article/samsung-promotes-ai-expert-to-lead-research-arm/">Samsung promotes AI expert to lead research arm</a></li>
                                    <li><a href="http://www.koreaherald.com/view.php?ud=20200624000585">Princeton's AI scholar to head Samsung Research</a></li>
                                    <li><a href="https://blocksandfiles.com/2020/06/22/your-occasional-storage-digest-with-samsung-paviion-data-and-more/">NAND here’s your storage digest, featuring Samsung, Pavilion Data and more</a></li>
                                    <li><a href="https://news.samsung.com/global/samsung-research-centers-from-around-the-world-present-their-studies-at-cvpr-2020">Samsung Research Centers From Around the World Present Their Studies at CVPR 2020</a></li>
                                    <li><a href="https://news.samsung.com/global/samsung-health-and-leading-fitness-brands-team-up-to-help-people-stay-fit-at-home">Samsung Health and Leading Fitness Brands Team up to Help People Stay Fit at Home</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Negative News</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <ul>
                                    <li><a href="https://www.forbes.com/sites/gordonkelly/2020/06/23/samsung-galaxy-s20-plus-ultra-note-10-display-problem-apple-iphone-fault/#1421832756e0">Samsung Update Warning For Millions Of Galaxy And Note Users</a></li>
                                    <li><a href="https://www.tomsguide.com/news/samsung-galaxy-fold-2-renders-reveal-design-surprise-and-its-bad-news">Samsung Galaxy Fold 2 renders reveal design surprise — and it's bad news</a></li>
                                    <li><a href="https://www.forbes.com/sites/donaldkirk/2020/06/24/samsungs-jay-y-lee-fires-up-his-company-despite-legal-hassles/#26e469ab2eb6">Samsung’s Jay Y. Lee Fires Up His Company Despite Legal Hassles</a></li>
                                    <li><a href="https://www.sammobile.com/news/samsung-employee-exchange-program-on-hold-covid-19/">Samsung’s employee exchange program is on hold due to COVID-19</a></li>
                                    <li><a href="https://www.sammobile.com/news/samsung-research-center-korea-closed-covid-19-case-confirmed/">Samsung’s R&D center in Korea closed after COVID-19 case was confirmed</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Search Document</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body" style="height: 360px">
                                <textarea id="textarea" class="mb-4" style="width: 100%; max-height: 240px;height: 240px; border: 1px solid rgb(227, 230, 240);background: rgb(248, 249, 252); padding: 10px 20px" placeholder="Search Document!" maxlength="3000"></textarea>
                                <div style="text-align: right">
                                    <button id="bottomInputBtn" class="btn btn-info btn-icon-split">
                                        <span class="text">Search Document</span>
                                        <span class="icon text-white-50">
                                      <i class="fas fa-search"></i>
                                    </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="scrollPoint" class="col-xl-12 col-lg-12"></div>
                    <div class="col-xl-12 col-lg-12" id="resultCard">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Search Result</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body" >
                                <div>
                                    <h3 id="resultMessage" class="mb-4">
                                    </h3>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-12 mb-4">
                                        <h2>Positive</h2>
                                        <table class="table table-sm">
                                            <thead>
                                            <tr class="bg-primary text-white">
                                                <th scope="col">#</th>
                                                <th scope="col">word</th>
                                                <th scope="col">weight</th>
                                            </tr>
                                            </thead>
                                            <tbody id="positiveTable">
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-xl-6 col-lg-12 mb-4">
                                        <h2>Negative</h2>
                                        <table class="table table-sm">
                                            <thead>
                                            <tr class="bg-danger text-white">
                                                <th scope="col">#</th>
                                                <th scope="col">word</th>
                                                <th scope="col">weight</th>
                                            </tr>
                                            </thead>
                                            <tbody id="negativeTable">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12" id="resultEmptyCard">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Search Result</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body row" >
                                <div style="text-align: center">
                                    <h1 style="text-align: center">Sorry! There are no valid keywords.</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Pie Chart -->
                </div>
                <div class="row">
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Samsung Ant Man 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>


<script src="{% static 'vendor/particle.js/particles.js' %}"></script>
<script src="{% static 'vendor/particle.js/app.js' %}"></script>

<script src="https://d3js.org/d3.v4.js"></script>

<!-- Load d3-cloud -->
<script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>
<script>
    // Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#858796';

    function number_format(number, decimals, dec_point, thousands_sep) {
        // *     example: number_format(1234.56, 2, ',', ' ');
        // *     return: '1 234,56'
        number = (number + '').replace(',', '').replace(' ', '');
        var n = !isFinite(+number) ? 0 : +number,
            prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
            sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
            dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
            s = '',
            toFixedFix = function(n, prec) {
                var k = Math.pow(10, prec);
                return '' + Math.round(n * k) / k;
            };
        // Fix for IE parseFloat(0.55).toFixed(0) = 0;
        s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
        if (s[0].length > 3) {
            s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
        }
        if ((s[1] || '').length < prec) {
            s[1] = s[1] || '';
            s[1] += new Array(prec - s[1].length + 1).join('0');
        }
        return s.join(dec);
    }

    // Area Chart Example
    var ctx = document.getElementById("myAreaChart");
    var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ stock_labels | safe }},
            datasets: [{
                label: "Price",
                lineTension: 0.3,
                backgroundColor: "rgba(78, 115, 223, 0.05)",
                borderColor: "rgba(78, 115, 223, 1)",
                pointRadius: 1.5,
                pointBackgroundColor: "rgba(78, 115, 223, 1)",
                pointBorderColor: "rgba(78, 115, 223, 1)",
                pointHoverRadius: 1.5,
                pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                pointHitRadius: 10,
                pointBorderWidth: 2,
                data: {{ stock_prices | safe }},
            }],
        },
        options: {
            maintainAspectRatio: false,
            layout: {
                padding: {
                    left: 10,
                    right: 25,
                    top: 25,
                    bottom: 0
                }
            },
            scales: {
                xAxes: [{
                    time: {
                        unit: 'date'
                    },
                    gridLines: {
                        display: false,
                        drawBorder: false
                    },
                    ticks: {
                        maxTicksLimit: 7
                    }
                }],
                yAxes: [{
                    ticks: {
                        maxTicksLimit: 5,
                        padding: 10,
                        // Include a dollar sign in the ticks
                        callback: function(value, index, values) {
                            return '$' + number_format(value);
                        }
                    },
                    gridLines: {
                        color: "rgb(234, 236, 244)",
                        zeroLineColor: "rgb(234, 236, 244)",
                        drawBorder: false,
                        borderDash: [2],
                        zeroLineBorderDash: [2]
                    }
                }],
            },
            legend: {
                display: false
            },
            tooltips: {
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                titleMarginBottom: 10,
                titleFontColor: '#6e707e',
                titleFontSize: 14,
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                intersect: false,
                mode: 'index',
                caretPadding: 10,
                callbacks: {
                    label: function(tooltipItem, chart) {
                        var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                        return datasetLabel + ': $' + number_format(tooltipItem.yLabel);
                    }
                }
            }
        }
    });


    $(function () {
        $('#resultCard').hide();
        $('#resultEmptyCard').hide();
        $('#headerInputBtn').click(function () {
            const doc = $('#headerInput').val();
            $.ajax({
                url: "{% url 'stocks:analyze' %}",
                method: "POST",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    doc: doc
                },
                success: function (data) {
                    console.log(data);
                    {#makeWordCloud(data.words);#}

                    makeTable(data);
                },
                error: function () {

                }
            })
        });
        $('#bottomInputBtn').click(function () {
            const doc = $('#textarea').val();
            $.ajax({
                url: "{% url 'stocks:analyze' %}",
                method: "POST",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    doc: doc
                },
                success: function (data) {
                    console.log(data);
                    {#makeWordCloud(data.words);#}
                    makeTable(data);

                },
                error: function () {

                }
            })
        });

    });
    function scrollTo(selector) {
        document.querySelector(selector).scrollIntoView({ behavior: 'smooth' })
    }
    function makeTable(data) {
        document.getElementById("scrollPoint").scrollIntoView( {behavior: "smooth" })
        if(data.is_valid === 0){
            $('#resultEmptyCard').slideDown();
            $('#resultCard').slideUp();
            return
        }
        if(data.score > 0 ){
            msg = 'positive';
        } else {
            msg = 'negative';
        }
        $('#resultMessage').html(
            `The document score is ${data.score}.<br>I guess it is ${msg}`
        )
        $('#resultEmptyCard').slideUp();
        let $positiveTable = $('#positiveTable');
        let $negativeTable = $('#negativeTable');
        $positiveTable.empty();
        $negativeTable.empty();
        for(let i in data['negative_words']){
            const word = data['negative_words'][i];
            $negativeTable.append($(`<tr><th scope="row">${i}</th><td>${word.word}</td><td>${word.value}</td></tr>`))
        }
        for(let i in data['positive_words']){
            const word = data['positive_words'][i];
            $positiveTable.append($(`<tr><th scope="row">${i}</th><td>${word.word}</td><td>${word.value}</td></tr>`))
        }
        $('#resultCard').slideDown();
    }
    function makeWordCloud(myWords) {
        // set the dimensions and margins of the graph
        var margin = {top: 10, right: 10, bottom: 10, left: 10},
            width = 450 - margin.left - margin.right,
            height = 450 - margin.top - margin.bottom;

        // append the svg object to the body of the page
        var svg = d3.select("#cloud").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");

        // Constructs a new cloud layout instance. It run an algorithm to find the position of words that suits your requirements
        // Wordcloud features that are different from one word to the other must be here
        var layout = d3.layout.cloud()
            .size([width, height])
            .words(myWords.map(function(d) { return {text: d.word, size:d.size}; }))
            .padding(5)        //space between words
            .rotate(function() { return ~~(Math.random() * 2) * 90; })
            .fontSize(function(d) { return d.size; })      // font size of words
            .on("end", draw);
        layout.start();

        // This function takes the output of 'layout' above and draw the words
        // Wordcloud features that are THE SAME from one word to the other can be here
        function draw(words) {
            svg
                .append("g")
                .attr("transform", "translate(" + layout.size()[0] / 2 + "," + layout.size()[1] / 2 + ")")
                .selectAll("text")
                .data(words)
                .enter().append("text")
                .style("font-size", function(d) { return d.size; })
                .style("fill", function (d, i) {
                    return '#000000'
                })
                .attr("text-anchor", "middle")
                .style("font-family", "Impact")
                .attr("transform", function(d) {
                    return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                })
                .text(function(d) { return d.text; });
        }
        function drawSkillCloud(words) {
            d3.select("#cloud").append("svg")
                .attr("width", width)
                .attr("height", height)
                .append("g")
                .attr("transform", "translate(" + ~~(width / 2) + "," + ~~(height / 2) + ")")
                .selectAll("text")
                .data(words)
                .enter().append("text")
                .style("font-size", function(d) {
                    return d.size + "px";
                })
                .style("-webkit-touch-callout", "none")
                .style("-webkit-user-select", "none")
                .style("-khtml-user-select", "none")
                .style("-moz-user-select", "none")
                .style("-ms-user-select", "none")
                .style("user-select", "none")
                .style("cursor", "default")
                .style("font-family", "Impact")
                .style("fill", function(d, i) {
                    return '#3498DB';
                })
                .attr("text-anchor", "middle")
                .attr("transform", function(d) {
                    return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                })
                .text(function(d) {
                    return d.text;
                });
        }


    }
</script>
</body>

</html>
